torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.47.1
numpy==2.0.0
pandas==2.2.3
Pillow==10.4.0
scikit-learn==1.5.2
ego4d
submitit
tqdm==4.67.1
nltk==3.9.1
terminaltables
matplotlib==3.9.2
seaborn==0.13.2
tensorboard
jupyterlab==4.3.4
notebook==7.3.2
